@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:300);
@import url("https://fonts.googleapis.com/css?family=Noto+Serif+JP");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #9d9aea;
  padding: 4em 1em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mess-list-container {
  max-width: 400px;
  width: 100%;
}

.mydate {
  font-size: small;
}

.mess-list-title-container {
  margin-top: 16px;
  text-align: center;
}

.mess-list-title {
  margin: 0;
  color: #77D6E2;
  font-family: 'Lato';
}

.mess-list-caption {
  margin: 0;
  color: #77D6E2;
  font-family: 'Lato';
}

.mess-list form {
  margin: 16px 0;
  width: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  top: 413px;
  left: 12px;
  z-index: 100;
}

.mess-list form input {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border: 1px solid #ced4da;
  border-radius: 00.25rem;
  margin-right: 8px;
  background-color: #fff;
  z-index: 100;
}

.mess {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: 'Noto Serif JP', sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 16px;
  -webkit-animation: poyoyon 0.5s;
          animation: poyoyon 0.5s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
          animation-timing-function: ease-in;
}

.mess div {
  margin-left: 8px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 1.5rem;
  cursor: pointer;
}

/* CSSアニメーションの設定 */
@-webkit-keyframes poyoyon {
  0% {
    -webkit-transform: translateX(140px);
            transform: translateX(140px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  65% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 1;
  }
}
@keyframes poyoyon {
  0% {
    -webkit-transform: translateX(140px);
            transform: translateX(140px);
    opacity: 0;
  }
  50% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  65% {
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    opacity: 1;
  }
}

.mess input {
  width: 1rem;
  height: 1rem;
  cursor: pointer;
}

nav {
  margin: .5em 0 3em;
  font-size: 1.2em;
}

.menu__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.menu__item {
  display: block;
  margin: 1em 0;
  margin: 0 .5em;
}

.menu__link {
  font-family: 'Lato';
  font-weight: 300;
  font-size: 1em;
}

.reset {
  font-family: 'Lato';
  font-weight: 300;
  font-size: 1em;
  display: block;
  padding: .5em 1em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-touch-callout: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  position: relative;
  text-align: center;
  color: #F4E96B;
  background-color: #77D6E2;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  border: solid 2px #EB4E89;
  border-radius: 6px;
  margin: 0 auto;
}

.reset:hover,
.reset:focus {
  outline: none;
  color: #EB4E89;
}

.menu__item--current .menu__link {
  color: #77D6E2;
}

.menu__link:before,
.menu__link:after {
  content: '';
  position: absolute;
  width: 10px;
  height: 10px;
  opacity: 0;
  border: 2px solid #EB4E89;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.17, 0.67, 0.05, 1.29);
          transition-timing-function: cubic-bezier(0.17, 0.67, 0.05, 1.29);
}

.menu__link:before {
  top: 0;
  left: 0;
  border-width: 2px 0 0 2px;
  -webkit-transform: translate3d(10px, 10px, 0);
          transform: translate3d(10px, 10px, 0);
}

.menu__link:after {
  right: 0;
  bottom: 0;
  border-width: 0 2px 2px 0;
  -webkit-transform: translate3d(-10px, -10px, 0);
          transform: translate3d(-10px, -10px, 0);
}

.menu__item--current .menu__link:before,
.menu__item--current .menu__link:after {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

footer {
  margin: 3em 0 1em;
  position: relative;
}

/* phone */
#phone {
  width: 500px;
  height: 640px;
  border: 2px solid #ccc;
  border-radius: 30px;
  position: relative;
  left: 65%;
  top: 50px;
  margin: 0 -285px;
  background: #fff;
}

#screen {
  width: 450px;
  height: 520px;
  border: 1px solid #ccc;
  position: relative;
  left: 34%;
  top: 50%;
  margin: -260px -145px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
}

#home {
  width: 36px;
  height: 36px;
  border: 1px solid #ccc;
  position: absolute;
  bottom: 10px;
  left: 50%;
  margin: 0 -18px;
  border-radius: 50%;
}

#speaker {
  width: 50px;
  height: 6px;
  border: 1px solid #ccc;
  border-radius: 6px;
  position: absolute;
  left: 50%;
  top: 25px;
  margin: 0 -25px;
}

#header {
  height: 46px;
  background: #353541;
  position: relative;
  z-index: 30;
  cursor: -webkit-grab;
  cursor: grab;
}

#header:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

#footer {
  height: 46px;
  background: #353541;
  position: relative;
  top: 426px;
  cursor: -webkit-grab;
  cursor: grab;
}

#footer:active {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.pullmenu-icon {
  width: 16px;
  height: 2px;
  background: #FFF;
  position: absolute;
  right: 20px;
  bottom: 27px;
  -webkit-transition: opacity .2s ease-in-out;
  transition: opacity .2s ease-in-out;
}

.pullmenu-icon:after {
  content: '';
  width: 8px;
  height: 2px;
  background: #FFF;
  position: absolute;
  top: 10px;
  left: 4px;
}

.pullmenu-icon:before {
  content: '';
  width: 16px;
  height: 2px;
  background: #FFF;
  position: absolute;
  top: 5px;
  left: 0;
}

.pullmenu-icon.hide {
  opacity: 0;
}

#title {
  height: 46px;
}

#menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 3000px;
  position: absolute;
  top: 50%;
  margin: -15px 0px;
}

#menu li {
  color: #FFF;
  font-size: 15px;
  font-weight: 600;
  display: inline-block;
  padding: 0 20px;
  opacity: 0;
}

#menu li.show {
  opacity: 1 !important;
}

.pages {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition: opacity .2s linear;
  transition: opacity .2s linear;
  z-index: 29;
  position: absolute;
  width: 450px;
  height: 95%;
}

.pages.hide {
  -webkit-transition: opacity .1s linear;
  transition: opacity .1s linear;
  opacity: 0;
}

.page {
  overflow-y: auto;
  overflow-x: hidden;
  height: 425px;
  display: none;
  padding-right: 15px;
}

#latest {
  display: block;
}

#text {
  position: absolute;
  height: 640px;
  left: 50%;
  top: 50px;
  margin: 0px 75px;
  color: #77D6E2;
  font-size: large;
  font-family: 'Lato';
}

#text h1 {
  margin: 0;
  font-size: 70px;
  line-height: 60px;
  text-transform: uppercase;
}

#text h2 {
  font-size: 23px;
  margin: 0;
  text-transform: uppercase;
  margin-top: 10px;
}

#text h3 {
  opacity: 0.3;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  margin-top: 30px;
}
/*# sourceMappingURL=style.css.map */